
$primary-color: #632f6f;
$secondary-color: #119589;
$tertiary-color: rgb(45, 55, 105);


%primary-font {
font-family:'Arvo', Arial, Helvetica, sans-serif;
font-weight: normal;
}


%secondary-font {
font-family: 'alternategothic2_btregular', arial, helvetica, sans-serif;
font-weight: normal;
text-transform: uppercase;
}




